<% provide(:title, "Sign Up") %>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">Registration</div>
      <div class="card-body">
        <div class="col-md-6 offset-md-3">
          <%= form_with(model: @user, local: true) do |form| %>
            <%= render 'fields', form: form %>

            <%= form.submit "Create my account", class: "btn btn-fiery w-100" %>

          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
