<% if object.errors.any? %>
  <div class="error_explanation">
    <ul class="error-list">
    <% object.errors.full_messages.each do |msg| %>
      <li class="alert alert-danger"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
