@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

ul{
  list-style: none;
  padding-left: 0;
}
/* FORM */

form {
  label{
    color: #565a5c;
    font-size: 1.05em;
    font-weight: 500;
  }

  select{
    color: #565a5c;
    border-radius: 2px;
  }
}

a, a:hover{
  text-decoration: none;
}

.form_divider{
  margin-top: 20px;
  margin-bottom: 10px;
}
/* */

.error-list{
  list-style: none;
  padding-left: 0px;
}

.btn-fox{
  background-color: #FF5A5F;
  color: #fff;
  font-weight: 700;

  &:hover{
    color: #fff;
    border-color: #ff7e82;
    border-bottom-color: #ff7e80;
    background-color: #fa484e;
    outline: none;
  }

  &:active{
    border-color: #e00007;;
    background-color: #e00007;
    outline: none;
  }
}

.btn-default{
  font-weight: 500;
  color: #333;
  background-color: #fff;
  border: 2px solid #ccc;

  &:hover{
    background-color: #ededed;
    font-weight: 700;
    color: #333;
  }
}

.btn-file{
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file]{
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline:none;
  background:#fff;
  cursor: inherit;
  display: block;
}
/* SIDEBAR */

.sidebar{
  .sidebar-item{
    padding: 10px 0;
    font-size: 16px;
    color: #82888a;
    border-bottom: 1px solid #ccc;
  }

  .sidebar-link{
    color: #82888a;
    text-decoration: none;

    &:hover{
      color: #cacccd;
    }
  }

  .sidebar-active{
    color: #565a5c;
    font-weight: 700;
    text-decoration: none;
  }
}

.user_profile{
  .profile_photo{
    border: 1px solid #dce0e0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

    img{
      width: 100%;
    }
  }

  .verification_panel{
    margin: 10px 0 10px 0;
    border: 1px solid #dce0e0;
  }

  .profile-btn-section{
    margin-top: 4px;

    .btn{
      margin: 2px 0;
      width: 100%
    }
  }
}

.photo-preview{
  margin: 5px;
  .card-header{
    padding: 0;
    height: 170px;

    img{
      height: 100%;
      width: 100%;
    }
  }

  .card-body a{
    color: #4b4c4c;
    text-decoration: none;
    font-weight: 500;

    &:hover{
      color: #868a8b;
      text-decoration: none;
    }
  }
}

.photo-card{
  margin: 7px 0;
  box-sizing: border-box;

  .photo-header{
    padding: 0;
    max-height: 145px;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px;

    img{
      height: 100%;
      width: 100%;
    }
  }

  .photo-body {
    padding-top: 10px;

    .photo-title{
      font-size: 1.1rem;
    }

    p{
      font-size: 1rem;
    }

    a {
      color: #4b4c4c;
      text-decoration: none;
      font-weight: 500;

      &:hover{
        color: #868a8b;
        text-decoration: none;
      }
    }
  }
}

#photos{
  a{
    color: inherit;
  }

  .card{
    margin: 10px 0px;
  }
}

.amenities{
  li{
    margin-bottom: 10px;
    list-style-type: none;
  }
}

.text-line-through{
  text-decoration: line-through;
}

#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }

i.icon{
  width:24px;
  height:22px;
  display:inline-block;
  vertical-align:bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 5px;
}
.i-air-condition{
  background-image: url('air-conditioning-symbol.jpg');
}

.i-heating{
  background-image: url('heating.png');
}

.fa-1x2{
  font-size: 1.2em;
}

.room-price{
  display: flex;
  padding: 12px 5px;
  box-sizing: border-box;
  background-color: #60615e;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 10px;
  span{
    width: 50%;
  }
  span.text-left{
    padding-left: 5px;
  }
  span.text-right{
    padding-right: 5px;
  }
}

.item-link{
  color: #717374;
  text-decoration: none;

  &:hover{
    color: #868a8b;
    text-decoration: none;
  }
}

.conversation{
  color: #636363;
  padding: 10px;
  border-bottom: 1px solid #dce0e0;

  &:hover, &:focus{
    background-color: #f4f4f5;
  }
}

.message{
  border: 1px solid #dce0e0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 15px 10px;
  margin: 10px 0px;
  box-sizing: border-box;
  display: flex;

  .message-wrap{
    overflow: hidden;
    clear: both;

    .message-content{
      float: left;
      padding-left: 10px;
      box-sizing: border-box;
      max-width: 90%;
      min-width: 84%;

      .message-header{
        margin-bottom: 5px;
        .right{
          float:right;
        }

        .left{
          float: left;
        }
      }

      .message-body{
        clear: both;
      }
    }

    .message-avatar{
      float:left;
      margin: 7px;
    }
  }
}

.review{
  overflow: hidden;
  clear: both;
  display: flex;

  .review-avatar{
    float: left;
    text-align: center;
  }

  .review-body{
    float: left;
    padding-left: 1.3rem;
    max-width: 90%;
    min-width: 87%;

    .review-date{
      font-size: 0.8rem;
      color: #7b7c7d;
    }

    .review-content{
      margin-top: 5px;
    }
  }
}

.bordered-review{
  border: 1px solid #dce0e0;
  padding: 13px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  margin-bottom: 1rem;
}

.no-img{
  padding: 40px 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #868a8b;
}

.search-wrapper{
  #map{
    height: 100%;
    min-height: 300px;
  }
}

.discovery-card{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6.5px #000;

  &:hover{
    transform: scale(1.1, 1.1);
  }

  h1{
    padding: 5rem 2rem;
    color: #fff;
    font-weight: 700;
  }
}

.paris{
  background-image: url('paris.jpg');

}

.new-york{
  background-image: url('NY.jpg');
}

.rome{
  background-image: url('rome3.jpg');
}

/* BOOTSTRAP */
.panel, .btn, .list-group-item:first-child, .list-group-item:last-child{
  border-radius: 0;
}

.card-header{
  color: #565a5c;
  font-size: 18px;
  font-weight: 500;
}

.btn{
  padding: 15px 35px
}

.nav .nav-item {
  border-bottom: .25rem solid transparent;

  &:hover{
    border-bottom-color: #FF5A5F;
    font-weight: 600;
  }
}

a.navbar-brand {
  margin-left: 0.5rem;
  margin-right: auto;
  margin-bottom: 0;
  color: #FF5A5F;
  &:hover{
    color: #565a5c;
  }
}

.form-control{
  border-radius: 2px;
  height: calc(2.85rem + 2px);
}
@media (min-width: 768px){
  .home-container{
    position: relative;
    overflow: hidden;
    .home-img{
      background-image: url("home-img.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      min-width: 100vw;
      min-height: 97vh;

      img{
        width: 100%;
        height: 100%;
      }
    }

    .home-search{
      //width: 25%;
      border: 1px solid #dce0e0;
      border-radius: 5px;
      padding: 2rem;
      background-color: #fff;
      position: absolute;
      top: 4%;
      opacity: 0.98;
    }
  }
}

@media (max-width: 768px){
  .home-container{
    position: relative;
    overflow: hidden;
    .home-img{
      background-image: url("home-img.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 340px;

      img{
        width: 100%;
        height: 100%;
      }
    }
  }

  .home-search{
    border: 1px solid #dce0e0;
    padding: 2rem;
    background-color: #fff;
    position: relative;
  }
}
