@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

ul{
  list-style: none;
  padding-left: 0;
}
/* FORM */

form {
  label{
    color: #565a5c;
    font-size: 1.05em;
    font-weight: 500;
  }

  select{
    color: #565a5c;
    border-radius: 2px;
  }
}

.form_divider{
  margin-top: 20px;
  margin-bottom: 10px;
}
/* */

.error-list{
  list-style: none;
  padding-left: 0px;
}

.btn-fox{
  background-color: #FF5A5F;
  color: #fff;
  font-weight: 700;

  &:hover{
    color: #fff;
    border-color: #ff7e82;
    border-bottom-color: #ff7e80;
    background-color: #fa484e;
    outline: none;
  }

  &:active{
    border-color: #e00007;;
    background-color: #e00007;
    outline: none;
  }
}

.btn-default{
  font-weight: 500;
  color: #333;
  background-color: #fff;
  border: 2px solid #ccc;

  &:hover{
    background-color: #ededed;
    font-weight: 700;
    color: #333;
  }
}

.btn-file{
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file]{
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline:none;
  background:#fff;
  cursor: inherit;
  display: block;
}
/* SIDEBAR */

.sidebar{
  .sidebar-item{
    padding: 10px 0;
    font-size: 16px;
    color: #82888a;
    border-bottom: 1px solid #ccc;
  }

  .sidebar-link{
    color: #82888a;
    text-decoration: none;

    &:hover{
      color: #cacccd;
    }
  }

  .sidebar-active{
    color: #565a5c;
    font-weight: 700;
    text-decoration: none;
  }
}

.user_profile{
  .profile_photo{
    border: 1px solid #dce0e0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

    img{
      width: 100%;
    }
  }

  .verification_panel{
    margin: 10px 0 10px 0;
    border: 1px solid #dce0e0;
  }
}

.photo-preview{
  .card-header{
    padding: 0;
    height: 170px;

    img{
      height: 100%;
      width: 100%;
    }
  }

  .card-body a{
    color: #717374;
    text-decoration: none;

    &:hover{
      color: #868a8b;
      text-decoration: none;
    }
  }
}

#photos{
  a{
    color: inherit;
  }

  .card{
    margin: 10px 0px;
  }
}

.amenities{
  li{
    margin-bottom: 10px;
    list-style-type: none;
  }
}

.text-line-through{
  text-decoration: line-through;
}

#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }

i.icon{
  width:24px;
  height:22px;
  display:inline-block;
  vertical-align:bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 5px;
}
.i-air-condition{
  background-image: url('air-conditioning-symbol.jpg');
}

.i-heating{
  background-image: url('heating.png');
}

.fa-1x2{
  font-size: 1.2em;
}

#reservation-date-preview{
  display: block;
}

.room-price{
  display: flex;
  padding: 12px 5px;
  box-sizing: border-box;
  background-color: #60615e;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 10px;
  span{
    width: 50%;
  }
  span.text-left{
    padding-left: 5px;
  }
  span.text-right{
    padding-right: 5px;
  }
}

.item-link{
  color: #717374;
  text-decoration: none;

  &:hover{
    color: #868a8b;
    text-decoration: none;
  }
}

/* BOOTSTRAP */
.panel, .btn, .list-group-item:first-child, .list-group-item:last-child{
  border-radius: 0;
}

.card-header{
  color: #565a5c;
  font-size: 18px;
  font-weight: 500;
}

.btn{
  padding: 15px 35px
}

.nav .nav-item {
  border-bottom: .25rem solid transparent;

  &:hover{
    border-bottom-color: #FF5A5F;
    font-weight: 600;
  }
}

a.navbar-brand {
  margin-left: 0.5rem;
  margin-right: auto;
  margin-bottom: 0;
  color: #FF5A5F;
  &:hover{
    color: #565a5c;
  }
}

.form-control{
  border-radius: 2px;
  height: calc(2.85rem + 2px);
}
